nav {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    padding-bottom: 0%;

    z-index: 1;
    position: fixed;
  }

  body{
    background-color: #d1e7dd;
  }

  nav.shift ul li a {
    position: relative;
    z-index: 1;
  }
  nav.shift ul li a:hover {
    color: #208454 !important;
    font-weight: bold;
  }
  
  nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #ffffff;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
.choice{
    background-color: #d1e7dd;
    margin-top: 3.5%;
}

.sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 40px 0px;
  }
  
.section3 .section3-header {
    padding: 0px 20px;
  }
  
  .section3 .section3-header h1 {
    color:  #208454;
    font-family: var(--fontfamily2);
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .section3 .section3-header p {
    text-align: center;
    font-size: 20px;
  }
  
  .section3 .contask {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .section3 .contask .projects-box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    max-width: 400px;
    min-width: 300px;
    margin: 10px;
    z-index: 1;
  }
  
  .section3 .contask .projects-box .disp {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 87%;
    height: 85%;
    background-color: white;
    opacity: 0;
    border-radius: 25px;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    padding: 20px;
    text-align: center;
  }
  
  .section3 .contask .projects-box .disp p:nth-child(1) {
    font-family: var(--fontfamily2);
    font-size: 25px;
    font-weight: 500;
    color:  #208454;
  }
  
  .section3 .contask .projects-box .disp p:nth-child(2) {
    font-size: 20px;
    font-weight: 400;
    color:  #208454;
  }
  
  .section3 .contask .projects-box img {
    position: relative;
    border-radius: 30px;
    width: 100%;
    z-index: -1;
  }
  
  .section3 .contask .projects-box:hover .disp {
    opacity: 1;
  }

  .contask {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    width: 90%;
    max-width: 1100px;
    margin: 30px 0px;
    margin-top: 4%;
  }

.searchfind{
  background-color: #d1e7dd;
}
h1.searcht{
  color: #208454;
  margin-top: 6%;
  font-size: 3rem;
  font-weight: bolder;


}

/*Registration*/

.register{
  margin-top: 3.5rem;
  background-color: #d1e7dd;
  overflow-x: hidden;
}

.Registerh{
  color: #208454;
  margin-top: 3%;
  font-weight: bolder;
  font-size: 3rem;
}
.bloodimg{
  width: 100%;
}

.formsec{
  margin-top: 2rem;
}

.form2{
  margin-right: -10%;
  margin-top: -1% !important;
}
.form1{
  margin-left: 10%;
}

.accept{
  margin-left: 10%;

}
.acc1{
  margin-top: 1% !important;
}

.registerbtn{
  margin-left: 10%;
  margin-top: 1.5% !important;
  margin-bottom: 2% !important;

}

footer{
  background-color: #208454;
  color: #ffffff;
  font-size: larger;
  padding: 5px;
}

.statesearch{
  margin-top: 3%;
}

.statesearchbtn{
  margin-top: 2%;
}

table{
  border: 3px solid #208454;
}
tr.mainrow{
  font-size: 2rem;
  color: #208454;
}
tr.mainrow th{
  width: 250px;
  text-align: center;
border: 2px solid #208454;
}
tr.nrmlrow th{
  width: 250px;
  text-align: center;
border: 2px solid #208454;
}