<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Registration</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top shift">
        <div class="container-fluid">
          <a class="navbar-brand" href="/theme/index.html">Co-Info</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('register') }}">Register as a Donor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('view') }}">Find Donors</a>
              </li>
              
            </ul>
            
          </div>
        </div>
      </nav> 

      <section class="register">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <center>
              <h1 class="Registerh">
                Register Yourself as a Donor Here
              </h1>
            </center>
          </div>
                <div class="Registerh"> <center><h3>{{ msg }}</h3></center></div>
          <br><br>
          <div class="row formsec align-items-center ">
            
            <div class="col-md-6 form1">
          <form action="{{ url_for('register') }}" method="POST" id = 'form1'>
                <label for="name" class="form-label"><h5>Full Name</h5></label>
                <input class="form-control" name ='name' type="text" placeholder="Enter your name" aria-label="name" style="width: 50%;">
                <br>
                <label for="email" class="form-label"><h5>Email Address</h5></label>
                <input type="email" class="form-control" name = "email" placeholder="name@example.com" style="width: 50%;">
                <br>
                <label for="city" class="form-label"><h5>City</h5></label>
                <input class="form-control" type="text" name ='city' placeholder="Enter your city" aria-label="city" style="width: 30%;">
                <br>
                <label for="age" class="form-label"><h5>Age</h5></label>
                <input class="form-control" name ='age' type="text" placeholder="Age" aria-label="age" style="width: 9%;">
                
                <br>
                <label for="number" class="form-label"><h5>Contact Number</h5></label>
                <input class="form-control" name ='number' type="text" placeholder="10 digit Mobile Number" aria-label="phone" style="width: 35%;">
           

              
            </div>
            <div class="col-md-6 form2">

                  <label for="state" class="form-label"><h5>Select your State</h5></label>
                  <select class="form-select" name ='state' aria-label="State" style="width: 30%;">
                  <option selected>Select</option>
                  <option value="Andhra Pradesh">Andhra Pradesh</option>
                  <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                  <option value="Assam">Assam</option>
                  <option value="Bihar">Bihar</option>
                  <option value="Chandigarh">Chandigarh</option>
                  <option value="Chhattisgarh">Chhattisgarh</option>
                  <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                  <option value="Daman and Diu">Daman and Diu</option>
                  <option value="Delhi">Delhi</option>
                  <option value="Lakshadweep">Lakshadweep</option>
                  <option value="Puducherry">Puducherry</option>
                  <option value="Goa">Goa</option>
                  <option value="Gujarat">Gujarat</option>
                  <option value="Haryana">Haryana</option>
                  <option value="Himachal Pradesh">Himachal Pradesh</option>
                  <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                  <option value="Jharkhand">Jharkhand</option>
                  <option value="Karnataka">Karnataka</option>
                  <option value="Kerala">Kerala</option>
                  <option value="Madhya Pradesh">Madhya Pradesh</option>
                  <option value="Maharashtra">Maharashtra</option>
                  <option value="Manipur">Manipur</option>
                  <option value="Meghalaya">Meghalaya</option>
                  <option value="Mizoram">Mizoram</option>
                  <option value="Nagaland">Nagaland</option>
                  <option value="Odisha">Odisha</option>
                  <option value="Punjab">Punjab</option>
                  <option value="Rajasthan">Rajasthan</option>
                  <option value="Sikkim">Sikkim</option>
                  <option value="Tamil Nadu">Tamil Nadu</option>
                  <option value="Telangana">Telangana</option>
                  <option value="Tripura">Tripura</option>
                  <option value="Uttar Pradesh">Uttar Pradesh</option>
                  <option value="Uttarakhand">Uttarakhand</option>
                  <option value="West Bengal">West Bengal</option>
                  <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                </select>
                <br>
                <label for="gender" class="form-label"><h5>Select your Gender</h5></label>
                <select class="form-select" name ='gender' aria-label="gender" style="width: 50%;">
                  <option selected>Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
                  <option value="NONE">Don't wish to disclose</option>
                </select>
                
                <br>
                <label for="bloodgroup" class="form-label"><h5>Select Blood Group</h5></label>
          <select class = 'form-select' id="BloodGroup"  style="width: 15%;"    name="BloodGroup">
            <option value="A+"  >A+    </option>
            <option value="A-"  >A-    </option>
            <option value="B+"  >B+    </option>
            <option value="B-"  >B-    </option>
            <option value="AB+" >AB+  </option>
            <option value="AB-" >AB-  </option>
            <option value="O+"  >O+    </option>
            <option value="O-"  >O-    </option>
          </select>
                <br>
                <label for="month" class="form-label"><h5>Select Month of Recovery from Covid-19</h5></label>
                <select class="form-select" name ='month' aria-label="month" style="width: 30%;">
                  <option selected>Select</option>
                  <option value="1">January</option>
                  <option value="2">Febuary</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
                <br>
                <label for="year" class="form-label"><h5>Year of Recovery</h5></label>
                <select class="form-select" name ='year' aria-label="year" style="width: 20%;">
                  <option selected>Select</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                </select>

            </div>
          
          </div>
          <div class="row">
            <div class="form-check accept acc1">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                I hereby declare that all the information entered by me is true to the best of my knowledge.
              </label>
            </div>
            <div class="form-check accept">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label" for="flexCheckChecked">
                I agree that this information be shared on the website to help people find my contact for plasma.
              </label>
            </div> 
            <center>
            <button type="submit" form="form1" class="btn btn-outline-success statesearchbtn" style="width: 25%;">Signup</button>
          </center>
          </div>
        </div>

      </section>

      <footer>
        <span>
          <center>
            Made with Love
          </center>
        </span>
      </footer>


     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>

